[submodule "rust-fna3d"]
	path = crates/rust-fna3d
	url = https://github.com/toyboot4e/rust-fna3d
[submodule "crates/soloud-rs"]
	path = samples/crates/soloud-rs
	url = https://github.com/toyboot4e/soloud-rs
