[submodule "crates/soloud-rs"]
	path = crates/soloud-rs
	url = https://github.com/MoAlyousef/soloud-rs
[submodule "crates/xdl"]
	path = crates/xdl
	url = https://github.com/toyboot4e/xdl
[submodule "crates/rust-fna3d"]
	path = crates/rust-fna3d
	url = https://github.com/toyboot4e/rust-fna3d
